*{
  box-sizing: border-box;
}

.clear{ 
    clear:both
}

body{
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: center;
}

header {
    width: 100%;
    height: 80px; 
    border: 1px solid #000000;
}

section{
    margin-top: 1%;
    margin-bottom: 1%;
}
section div:first-child{ 
    border: #000000 solid 1px;
    width:30%;
    float:left;
    height: 200px;
}
section div:nth-child(2){
    border: #000000 solid 1px;
    width: 69%; 
    float: right;
    height: 200px;

}

footer {
    width: 100%;
    height: 80px; 
    border: 1px solid #000000;   
}