*{
  box-sizing: border-box;
}
header div:first-child{ 
    padding: 4%; 
    background: blue; 
    width: 50%; 
    float: left;
}

header div:nth-child(2){ 
    padding: 4%; 
    background: green; 
    width: 50%; 
    float: left;
}

.clear{ 
    clear:both
}

nav{
    background: red;
}

nav ul{
    margin: 4px; padding: 0%;
}

nav ul li{
    list-style: none;
    float: left;
    margin: 0.5%;
    padding: 1%;
    background: yellow;
}

nav ul li a{
    text-decoration: none; 
    display: block; 
    width: 100%;
}

nav ul li:hover{
    background: lightgreen;
}
section{
    margin: 5px auto;

}
section div:first-child{
    padding: 4%; 
    background: blue; 
    width:40%;
    float:left;
}
section div:nth-child(2){
    padding: 4%; 
    background: green; 
    width: 60%; 
    float: left;
}

footer {
    padding:4%;
    background: yellow;
    
}


