/*Using Flex Properties*/
.header {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
}

.logo {
    width: 50%;
    height: 100px;
    background-color: rgb(0, 247, 255);
    margin-right: 5px;
    padding-top: 10px;
}

.email {
    width: 50%;
    height: 100px;
    background-color: rgb(6, 250, 6);
    padding-top: 10px;
}

.menu-bar {
    height: 50px;
    background-color: red;
    display: flex;
    margin-bottom: 5px;
    align-content: center;
}

.menu{
    background-color: yellow;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.menu:hover {
    background-color: greenyellow;
}

.content {
    display: flex;  
    margin-bottom: 5px;
    text-align: center;
}

.left-bar{
    width: 30%;
    height: 400px;
    background-color: rgb(183, 0, 255);
    margin-right: 5px;
    padding-top: 10px;
}
.right-bar{
    width: 70%;
    height: 400px;
    background-color: rgb(107, 220, 251);
     padding-top: 10px;
}

.footer {
    height: 50px;
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}
