body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #01b3ff;
  justify-content: center;
  border: #000 1px solid;
  border-bottom: none;
}

.menu a:hover {
  background: #e9e9e9;
}

.menu a.active {
  background: #e9e9e9;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: #e9e9e9 2px solid;
  padding: 8px 12px;
  border-radius: 5px;
}

.three-box-row {
  display: flex;
}

.box {
  flex: 1;
  height: 150px;
  background: #ff48c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: #000 1px solid;

}

.bottom-row {
  display: flex;
}

.main-box {
  flex: 1;
  height: 250px;
  background: #89ff2e;
  padding: 20px;
  font-size: 20px;
  border: #000 1px solid;
  border-top: none;
}

.sidebar {
  width: 250px;
  background: #ffcc00;
  position: relative;
  height: 250px;
  padding: 20px;
  border: #000 1px solid;
  border-top: none;
  border-left: none;
}

.small-img {
  width: 30%;
  max-width: 80px;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  right: 20px;
  border-radius: 10px;
}
