body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #01b3ff;
  justify-content: center;
  border: #000 1px solid;
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: #e9e9e9 2px solid;
  padding: 8px 12px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #f10101;
}

.menu a.active {
  background: #f10101;
}

.main-row {
  display: flex;
  border: #000 1px solid;
}

.left-column{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.small-box{
  height: 200px;
  background: #f3f205;
  display: flex;
  position: relative;
  border-bottom: #000 1px solid;
}

.small-box button{
  position: absolute;
  left: 0px;
  top: 50px;
  background-color: #05f9d8;
  font-weight: bold;
  border: #e9e9e9 2px solid;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 15px;
}

.big-box {
  background: #bd22ff;
  height: 200px;
  padding: 10px;
}

.right-column {
  flex: 1;
  height: 421px;
  background: #05f93e;
  display: flex;
  align-items: center;
  font-size: 24px;
  border-left: #000 1px solid;
}

.third-row {
  position: relative;
  display: flex;
  height: 100px;
  border: #000 1px solid;
  border-top: none;
  background: #787676;
}

.third-row button{
  position: absolute; 
  right: 50px; 
  bottom: 0px;
  background-color: #05f9d8;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: #e9e9e9 2px solid;
  padding: 8px 12px;
}

button:hover {
  background-color: #f10101;
  cursor: pointer;
  border: #000 1px solid;
  border-radius: 5px;
}