body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #01b3ff;
  justify-content: center;
  border: #000 1px solid;
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: #e9e9e9 2px solid;
  padding: 8px 12px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #f10101;
}

.menu a.active {
  background: #f10101;
}

.main-row {
  display: flex;
  border: #000 1px solid;
}

.left-column{
  flex: 1;
  background: #f97dfb;
  height: 350px;
  border-right: #000 1px solid;
  width: 50%;
}

.right-column{
  flex: 1;
  width: 50%;
  background: #ddd;
  height: 350px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.image-box {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  /*border: 1px solid #000;*/
  object-position: center; 
  display: block;
}

.bottom-row {
  display: flex;
  border: #000 1px solid;
  border-top: none;
  height: 150px;
  background: #bb68ff;
}

